.projects-container {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);


    h1 {
        font-size: 3rem;
        font-weight: 700;
        color:#4831d4 ;
        text-align: center;
       
    }

    padding: 5rem 17rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;

    gap: 6rem;
}


.project-div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    img{
        width: 32rem;
        border-radius: 8px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border: 3px solid rgb(202, 202, 202);
    }

}

.project-info-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    
    h2 {
        font-weight: 700;
        font-size: 1.4rem;
        color: rgb(49, 48, 48);      

    }

    p {
        color: rgb(58, 58, 58);
    }
}


.project-info-tech {
    display: flex;
    justify-content: center;

    gap: 1rem;
    h3 {
        font-weight: 900;
        color:#4831d4 ;
    }
}

.project-links {
    svg {
        width: 1.5rem;
        margin-left: 0.4rem;
    }

    display: flex;
    justify-content: center;
    gap: 2rem;
}


@media screen and (max-width: 1125px) {

.projects-container {
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.project-div {
    flex-direction: column;
    width: 90%;
    gap: 2rem;
}

.project-info-div {
    width: 100%;
}

}