@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: #F9F9F9;
  
}

.svg-inline--fa {

  height: 3rem!important;
}